{% extends 'main/main.html' %}
{% load static %}

{% block content %}

<style>
    body {
        background-color: #002A5A; 
    }
</style>

<br>

<div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col-md-3">
        <div class="card card-body text-center">
            <h3 style="font-weight: bold;">Login</h3>

            <hr>

            <form method="POST" action="" class="d-flex flex-column align-items-center">
                {% csrf_token %}

                <input type="text" name="username" placeholder="Username..." class="form-control my-2" style="width: 100%;">
                <input type="password" name="password" placeholder="Password..." class="form-control my-2" style="width: 100%;">

                <input class="btn btn-info" type="submit" value="Login" style="width: 100%; border-radius: 20px; margin-top: 10px;">
            </form>

            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
