{% extends 'main/main.html' %}
{% block content %}


<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Bookings</h5>
		</div>
		<div class="card card-body" style="height: 500px; overflow-y: auto;">
			<table class="table table-sm">
				<tr>
					<th>Start Time</th>
					<th>Teacher</th>
					<th>Subject</th>
					<th>Room</th>
					<th>Building</th>
					<th>Status</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>

				{% for booking in bookings %}
					<tr>
						<td>{{booking.timeslot.start_time|time:"H:i"}}</td>
						<td>{{booking.teacher}}</td>
						<td>
							{% for subject in booking.teacher.subjects.all %}
							{% if subject in booking.student.subjects.all %}
								{{ subject.name }}{% if not forloop.last %} {% endif %}
							{% endif %}
							{% endfor%}
						</td>
						<td>{{booking.teacher.room}}</td>
						<td>{{booking.teacher.building}}</td>
						<td>{{booking.status}}</td>
						{%if booking.status == "Pending" %}
							<td><a class="btn btn-sm btn-success" href="{% url 'student_edit_manual' booking.booking_id %}">Edit</a></td>
							<td><a class="btn btn-sm btn-danger" href="{% url 'delete_booking' booking.booking_id %}">Delete</a></td>
						{% else %}
						<td>-</td>
						<td>-</td>
						{% endif %}
					</tr>

				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}