{% extends 'main/main.html' %}
{% block content %}

<br>

<div class="row">
	<div class="col-md">
		<h5>TEACHER INFO:</h5>
        <hr>
		<div class="card card-body">
			<h5>Teacher: {{teacher.name}}</h5>
			<hr>
			<p>Email: {{teacher.email}}</p>
			<p>Room: {{teacher.room}}</p>
            <p>Building: {{teacher.building}}</p>
			<p>Total Bookings: {{total_bookings}}</p>

		</div>
	</div>

	<div class="col-md">
		<h5>SUBJECTS:</h5>
        <hr>
        <div class="card card-body" style="height: 300px; overflow-y: auto;">

            <table class="table table-sm">
                <tr>

                    <th>Subject Name</th>

                </tr>

                {% for subject in subjects %}
                    <tr>
                        <td>{{subject.name}}</td>

                    </tr>

                {% endfor %}
                    
            </table>
        </div>

		
	</div>

	<div class="col-md">
		<h5>STUDENTS:</h5>
        <hr>
        <div class="card card-body" style="height: 300px; overflow-y: auto;">

            <table class="table table-sm">
                <tr>

                    <th>Student Name</th>

                </tr>

                {% for student in students %}
                    <tr>
                        <td>{{student.name}}</td>

                    </tr>

                {% endfor %}
                    
            </table>
        </div>

		
	</div>
</div>



{% endblock %}