{% extends 'main/main.html' %}

{% block content %}

<br>

<div class="row">
	<div class="col-md">
		<h5>BUILDING INFO:</h5>
        <hr>
		<div class="card card-body">
			<h5>Building: {{building.name}}</h5>
			<hr>

		</div>
	</div>

    <div class="col-md">
		<h5>TEACHERS IN BUILDING:</h5>
        <hr>
        <div class="card card-body" style="height: 300px; overflow-y: auto;">

            <table class="table table-sm">
                <tr>

                    <th>Teacher Name</th>

                </tr>

                {% for teacher in teachers %}
                    <tr>
                        <td>{{teacher.name}}</td>

                    </tr>

                {% endfor %}
                    
            </table>
        </div>
		
	</div>

    <div class="col-md">
		<h5>ROOMS IN BUILDING:</h5>
        <hr>
        <div class="card card-body" style="height: 300px; overflow-y: auto;">

            <table class="table table-sm">
                <tr>

                    <th>Room Name</th>

                </tr>

                {% for room in rooms %}
                    <tr>
                        <td>{{room.name}}</td>

                    </tr>

                {% endfor %}
                    
            </table>
        </div>
		
	</div>
</div>

{% endblock %}