{% extends 'main/main.html' %}
{% load static %}

{% block content %}

<style>
    body {
        background-color: #002A5A; 
    }
</style>



<div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col-md-7">
        <div class="card card-body text-center">

            <h1>Not Clunky But Funky</h1>
            <h1>Parents' Evening Booking System</h1>

            <hr>

            <h4>By Steven McHale</h4>
            
        </div>
    </div>
</div>

{% endblock %}