{% extends 'main/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <form action="" method="POST">

                <p>Timeslots have to be in the form HH:MM:SS</p>
                <p>Eg. 16:00:00 would be 4 p.m.</p>
                {% csrf_token %}
                {{form|crispy}}

                <a class="btn btn-danger" href="{% url 'dashboard' %}">Cancel</a>
                
                <input class="btn btn-success" type="submit" name="Submit">
            </form>

        </div>
    </div>
</div>


{% endblock %}